<footer class="site-footer">
  <div>
    <div class="row">
      <div class="col-3 mx-auto">
        <h6>About</h6>
        <p class="text-justify font-weight-light">
          Our easy to use platform will connect you with hundreds of research opportunities and resources
            that meet your school needs!
        </p>
      </div>

      <div class="col-3 mx-auto">
        <h6>Contact us</h6>
        <ul class="footer-links">
          <li> 
            <a href="mailto:CustomerService@ResearchConnect.com">CustomerService@ResearchConnect.com</a>
          </li>
        </ul>
      </div>

      <div class="col-3 mx-auto">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>
            <a href="">Log In</a>
          </li>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><em class="fa fa-facebook"></em></a>
          </li>
          <li>
            <a class="twitter" href="#"><em class="fa fa-twitter"></em></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
