<div class="row">
  <!-- <div class="col-12" *ngIf="!isLoading"> -->
  <!-- <a [routerLink]="[index]"> -->
  <div class="col-12" *ngFor="let publication of publications">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="assets/images/research-card-image.jpg"
        style="width: 300px; height: 300px"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ publication.name }}</h5>
      <p class="card-text">{{ publication.description }}</p>

      <a class="btn btn-primary" routerLink="{{ publication.resPath }}">Link</a>

      <!-- <p *ngIf="isLoading">Loading...</p> -->
    </div>
  </div>
</div>
